<div class="top_main">
  <div class="top_message">
    <h2 class="top_chatchphrase">あなたの知識がここにある</h2>
    <p class="top_phrase">本気で学ぶドイツ語学習Webサービス</p>
     <%= link_to("/") do %>
      <button class="btn-gradient-radius">詳しく見てみる</button>
    <% end %>
  </div>
</div>